*.swp
*.out
*.coverprofile
*.test
*.orig
*~

coverage.txt
gx-workspace-update.json

bin/gx
bin/protoc-*
bin/gx*
bin/tmp
bin/gocovmerge
bin/cover

db
libp2p-node
*/libp2p-node
vendor

#vendor
.tarball

# ignore build output from snapcraft
/parts
/stage
/prime
