# ipfs can generate profiling dump files
*.cpuprof
*.memprof

*.swp
*.out
*.coverprofile
*.test
*.orig
*~

coverage.txt
gx-workspace-update.json

bin/gx
bin/protoc-*
bin/gx*
bin/tmp
bin/gocovmerge
bin/cover

db
libp2p-node
*/libp2p-node
vendor

#vendor
.tarball
docs/examples/go-ipfs-as-a-library/example-folder/Qm*

# ignore build output from snapcraft
/parts
/stage
/prime
